{% extends "layout.html.twig" %}
{% block section_content %}

<section class="global-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Цена и доставка на “Сириус-Д“ </h2>


        </div>
      </div>
    </div>
  </div>
</section>


<!--=======================================
=            Blog Left sidebar            =
========================================-->

<section id="blog-full-width">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
          <div class="2" >
            <a href=""><img class="img-responsive" src="images/blog/delivery.png" alt="" /></a>
          </div>
          <div class="blog-content">
            <h2 class="blogpost-title">
              <h2  class="text-center">Цена и доставка на “Сириус-Д“</h2>
            </h2>

            <h3 class="text-center" style="text-decoration: underline #1124ff; color: #1124ff">Консултации и поръчки: 0876-21-21-10 - Здравен консултант</h3>
              <h2 class="text-center" style="color: #770eff">VIVACOM: 0877-555-319, GLOBUL: 0896-097-428, MTEL: 0889-190-839</h2>
              <h3 class="text-center" style="color: #770eff">skype: sirius-d-Писма на: sirius7@abv.bg</h3>
              <h3 class="text-center" style="color: #770eff">Работно време: от 8.30 до 20 часа без почивен ден </h3>
              <h3 class="text-center" style="color: #770eff">Доставка до Ваш адрес в цялата страна.</h3>
              <h3 class="text-center" style="color: #770eff">Цените са в зависимост от количеството. ОТСТЪПКИ ПОЛУЧАВАТ ВСИЧКИ!</h3>
          </div>
        </article>


      </div>

    </div>
  </div>
  <div class="container">
    <div class="row">
             {% set stmt=pdo_connect ['pdo'].prepare('SELECT * FROM products') %}
             {{ stmt.execute() }}

             {% set rows=stmt.fetchAll() %}


                  {% for row in rows %}
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                    <form action="/product" method='post' >
                    <img src="{{ row['image'] }}" alt="...">
                    <div class="caption">
                      <h4  style="{{ row['styleh'] }}">{{ row['name'] }}</h4>
                      <p  style="{{ row['stylep'] }}">{{ row['short_description'] }} </p>
                      <p style=" text-align:center;"><button  type="submit" name="first" class="btn btn-primary" role="button">Поръчай Сега</button> </p>
                      <input type="hidden" name="id" value="{{ row['id'] }}"  >
                      <input type="hidden" name="name" value="{{ row['name'] }}"  >
                      <input type="hidden" name="price" value="{{ row['price'] }}"  >
                      <input type="hidden" name="product-quantity" value="{{ row['product-quantity'] }}"  >
                      <input type="hidden" name="product_type" value="{{ row['product_type'] }}"  >
                      <input type="hidden" name="short_description" value="{{ row['short_description'] }}" >
                      <input type="hidden" name="description" value="{{ row['description'] }}" >
                     </form>
                     </div>
                   </div>
                   </div>
                  {% endfor %}

      </div>
            {{ pdo_connect.close()  }}
  </div>
</section>

<!--====  End of Blog Left sidebar  ====-->
<section id="feature">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Информация </h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Полезна информация за Сириус-Д и контакти с  дистрибуторa
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-barcode-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Линии за връзка</h4>
                        <p> <span style="color: #ee793c">Vivacom: &nbsp;</span>  <span>0877-55-53-19</span></p>
                        <p> <span style="color: #ee793c">Vivacom: &nbsp;</span>  <span>0876-21-21-10</span></p>
                        <p> <span style="color: #644aee">Globul: &nbsp&nbsp&nbsp&nbsp;</span>  <span>0896-097-428</span></p>
                        <p> <span style="color: #2ae110">Mtel: &nbsp &nbsp &nbsp &nbsp&nbsp;</span>  <span>0889-190-839</span> </p>
                        <p>   ДОСТАВКА БЕЗ ПОЧИВЕН ДЕН!   </p>
                        <p><span  style="color: #ee793c"> SKYPE: </span> <span >  sirius-d  </span>   </p>
                        <p><span  style="color: #ee793c"> EMAIL: </span> <span >   sirius7@abv.bg   </span>   </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <a href="https://www.facebook.com/SiriusdHolistic/" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://www.facebook.com/SiriusdHolistic/">СИРИУС-Д Фейсбук </h4>
                        <p>Здравно консултативен екип с участието на създателя на храната - проф. Димитров</p>

                </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-lightbulb-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Консултации и поръчки: 0876-21-21-10 - Здравен консултант</h4>
                        <p>Цените са в зависимост от количеството. ОТСТЪПКИ ПОЛУЧАВАТ ВСИЧКИ!</p>
                        <h5>Работно време: от 8.30 до 20 часа без почивен ден </h5>
                        <h5>Доставка до Ваш адрес в цялата страна</h5>
                        <p>Цените са в зависимост от количеството. ОТСТЪПКИ ПОЛУЧАВАТ ВСИЧКИ!</p>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section> <!-- /#feature -->
{% endblock %}
